@page "/customer"
@inject HttpClient _client
@attribute [Authorize]
@inject HttpClient Http
@inject IJSRuntime js
@inject HttpInterceptorService _interceptor
@implements IDisposable

<h3 class="card-title"> Customers </h3>
<a href="/customer/create" class="btn btn-secondary">
    <span class="oi oi-plus"></span>
    Create New Customer
</a>
<br />
<br />

@if (Customers == null)
{
    <div class="alert alert-info">Loading Customers...</div>

}
else
{
    <table class="table table-responsive" id="customersTable">
        <thead>
            <tr>
                <th>Name</th>
                <th>Address</th>
                <th>EmailAddress</th>
                <th>ContactNumber</th>
                <th>        </th>

            </tr>
        </thead>
        <tbody>
            @foreach (var customer in Customers)
            {
                <tr>
                    <td>@customer.Name</td>
                    <td>@customer.Address</td>
                    <td>@customer.EmailAddress</td>
                    <td>@customer.ContactNumber</td>

                    <td>
                        <a href="/customer/view/@customer.Id" class="btn btn-primary">
                            <span class=" oi oi-book"></span>
                        </a>
                        <a href="/customer/edit/@customer.Id" class="btn btn-warning">
                            <span class=" oi oi-pencil"></span>
                        </a>
                        <button class="btn btn-danger" @onclick="@(()=>Delete(customer.Id))">
                            <span class="oi oi-delete"></span>
                        </button>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}



@code {
    private List<Customer> Customers;

    protected async override Task OnInitializedAsync()
    {
        _interceptor.MonitorEvent();
        Customers = await _client.GetFromJsonAsync<List<Customer>>($"{Endpoints.CustomerEndpoint}");
    }
    async Task Delete(int customerId)
    {
        var customer = Customers.First(q => q.Id == customerId);
        var confirm = await js.InvokeAsync<bool>("confirm", $"Do you want to delete {customer.Name}?");
        if (confirm)
        {
            await _client.DeleteAsync($"{Endpoints.CustomerEndpoint}/{customerId}");
            await OnInitializedAsync();
        }
    }
    protected async override Task OnAfterRenderAsync(bool firstRender)
    {
        await js.InvokeVoidAsync("AddDataTable", "#customersTable");
    }

    public void Dispose()
    {
        js.InvokeVoidAsync("DataTablesDispose", "#customersTable");
        _interceptor.DisposeEvent();
    }

}
