@page "/menus/create/"
@inject HttpClient _client
@inject NavigationManager _navManager

<h3>Create Menu</h3>

<EditForm Model="@menu" OnValidSubmit="CreateMenu">
    <DataAnnotationsValidator />
    <ValidationSummary />

    <div class="form-group">
        <label>Menu Name: </label>
        <div>
            <InputText @bind-Value="menu.Name" class="form-control"></InputText>
            <ValidationMessage For="@(() => menu.Name)" />
        </div>
    </div>

    <div class="form-group">
        <label>Menu Restaurants: </label>
        <div>
            <InputSelect @bind-Value="menu.RestaurantId" class="form-control">
                <option value=""> -- Select Restaurant --</option>
                @if (Restaurants != null)
                {
                    foreach (var restaurant in Restaurants)
                    {
                        <option value="@restaurant.Id">@restaurant.Name</option>
                    }
                }
            </InputSelect>
            <ValidationMessage For="@(() => menu.RestaurantId)" />
        </div>
    </div>

    <button type="submit" class="btn btn-success btn-block">
        Create Menu
    </button>
</EditForm>

@code {
    Menu menu = new Menu();

    private IList<Restaurant> Restaurants;

    protected async override Task OnInitializedAsync()
    {
        Restaurants = await _client.GetFromJsonAsync<List<Restaurant>>($"{Endpoints.RestaurantsEndpoint}");
    }

    private async Task CreateMenu()
    {
        await _client.PostAsJsonAsync(Endpoints.MenusEndpoint, menu);
        _navManager.NavigateTo("/menus/");
    }

}
